<?xml version="1.0" ?>
<!--
////////////////////////////////////////////////////////////////////////////////
//
// Read more about ArcGIS Viewer for Flex - http://links.esri.com/flexviewer
//
////////////////////////////////////////////////////////////////////////////////
-->
<configuration>
    <title></title>
    <subtitle></subtitle>
    <logo></logo>
    <style>
        <colors>0xFFFFFF,0x333333,0x101010,0x000000,0xFFD700</colors>
        <alpha>0.8</alpha>
    </style>
    <!-- replace the following url with your own geometryservice -->
    <geometryservice url="http://emagisdev3:6080/arcgis/rest/services/Utilities/Geometry/GeometryServer" />
	<!--<bing key="Ao4wr9lMUzJiSYHPj5ymb5ajbAyl2kExYK-mXMi3rXR2G2RjffknskqtnMQJkKry"/>-->
	<httpproxy>http://ema18021/Proxy/proxy.ashx</httpproxy>

    <!-- UI elements -->
    <!--<widget left="1"  top="48"    config="widgets/RotateWidget/RotateWidget.xml" url="widgets/RotateWidget/RotateWidget.swf"/>
    <widget left="10"  top="57"    config="widgets/Navigation_rotate/NavigationWidget.xml" url="widgets/Navigation_rotate/NavigationWidget.swf"/>-->
    
	<widget config="widgets/GoogleAnalytics/GoogleAnalyticsWidget.xml" url="widgets/GoogleAnalytics/GoogleAnalyticsWidget.swf"/>
    
    <widget left="30"  top="180"    config="widgets/Navigation/NavigationWidget.xml" url="widgets/Navigation/NavigationWidget.swf"/>
    <widget right="0" bottom="0"   config="widgets/OverviewMap/OverviewMapWidget.xml" url="widgets/OverviewMap/OverviewMapWidget.swf"/>
    <widget right="20" top="55"    config="widgets/MapSwitcher/MapSwitcherWidget.xml" url="widgets/MapSwitcher/MapSwitcherWidget.swf"/>
    <widget left="0"   top="0"     config="widgets/HeaderController/HeaderControllerWidget.xml" url="widgets/HeaderController/HeaderControllerWidget.swf"/>
    <widget left="0"  top="0"  config="widgets/CoordinateMenu/CoordinateMenuWidget.xml" url="widgets/CoordinateMenu/CoordinateMenuWidget.swf"/>
<widget top="130" left="10" config="widgets/StaticImage/StaticImageWidget.xml" url="widgets/StaticImage/StaticImageWidget.swf"/>
    <widget top="50" left="45" config="widgets/StaticImage/StaticImageWidget2.xml" url="widgets/StaticImage/StaticImageWidget.swf"/>

    <map wraparound180="true" initialextent="-7400000 5334000 -6660000 5980000" fullextent="-7400000 5334000 -6660000 5980000" top="40" addarcgisbasemaps="true" esrilogovisible="false">
    	<basemaps>
    		<!--<layer label="Blank" type="dynamic" visible="false" url="" />    -->
    		<!--<layer label="Bing Roads" type="bing" style="roads" visible="true" 
	                 />   
			<layer label="Bing Aerial" type="bing" style="aerial" visible="false" 
	                 />  
			<layer label="Bing Aerial with Labels" type="bing" style="aerialWithLabels" visible="false" 
	                 />  -->
			 
			 <layer label="Nokia Normal" type="webtiled" visible="true" 
	                 alpha="1.0" 
	                 url="http://{subDomain}.maps.nlp.nokia.com/maptile/2.1/maptile/14ca0f23ba/normal.day/{level}/{col}/{row}/256/png8?lg=ENG&token=R9fIRsxwRXAFpV3i8DjTwQ&requestid=ema18021_FlexViewer&app_id=YTZCWnGuw5yX7leO5Ndc"
	                 subdomains="1,2,3,4"/>   
	                 
			 <layer label="Nokia Hybrid" type="webtiled" visible="false" 
	                 alpha="1.0" 
	                 url="http://{subDomain}.maps.nlp.nokia.com/maptile/2.1/maptile/14ca0f23ba/hybrid.day/{level}/{col}/{row}/256/png8?lg=ENG&token=R9fIRsxwRXAFpV3i8DjTwQ&requestid=ema18021_FlexViewer&app_id=YTZCWnGuw5yX7leO5Ndc"
	                 subdomains="1,2,3,4"/>   
	                 
			 <layer label="Nokia Satellite" type="webtiled" visible="false" 
	                 alpha="1.0" 
	                 url="http://{subDomain}.maps.nlp.nokia.com/maptile/2.1/maptile/14ca0f23ba/satellite.day/{level}/{col}/{row}/256/png8?lg=ENG&token=R9fIRsxwRXAFpV3i8DjTwQ&requestid=ema18021_FlexViewer&app_id=YTZCWnGuw5yX7leO5Ndc"
	                 subdomains="1,2,3,4"/> 
	                 
			 <layer label="Nokia Terrain" type="webtiled" visible="false" 
	                 alpha="1.0" 
	                 url="http://{subDomain}.maps.nlp.nokia.com/maptile/2.1/maptile/14ca0f23ba/terrain.day/{level}/{col}/{row}/256/png8?lg=ENG&token=R9fIRsxwRXAFpV3i8DjTwQ&requestid=ema18021_FlexViewer&app_id=YTZCWnGuw5yX7leO5Ndc"
	                 subdomains="1,2,3,4"/>   
	                 

			 
			 <!--http://2.maps.nlp.nokia.com/maptile/2.1/maptile/14ca0f23ba/normal.day/15/10609/11832/256/png8?lg=ENG&token=R9fIRsxwRXAFpV3i8DjTwQ&requestid=ema18021_FlexViewer&app_id=YTZCWnGuw5yX7leO5Ndc -->
			 
			 
	        <layer label="Mapquest WebTiled" type="webtiled" visible="false" 
	                 alpha="1.0" 
	                 url="http://{subDomain}.mqcdn.com/tiles/1.0.0/vx/map/{level}/{col}/{row}.jpg"
	                 subdomains="mtile01"/>    	
	                 
			<!--<layer label="MapQuest OSM" type="webtiled" visible="false" 
	                 alpha="1.0" 
	                 url="http://{subdomain}.mqcdn.com/tiles/1.0.0/osm/{level}/{col}/{row}.jpg"
	                 subdomains="otile1,otile2,otile3,otile4"/>    -->
	                 
	        <layer label="MapQuest Satellite" type="webtiled" visible="false" 
	                 alpha="1.0" 
	                 url="http://{subdomain}.mqcdn.com/tiles/1.0.0/vy/sat/{level}/{col}/{row}.png"	                 
	                 subdomains="mtile01"/>    
	                 
			<layer label="MapQuest Hybrid" type="webtiled" visible="false" 
	                 alpha="1.0" 
	                 url="http://{subDomain}.mqcdn.com/tiles/1.0.0/hyb/{level}/{col}/{row}.jpg"
	                 subdomains="otile1,otile2,otile3,otile4"/>    
	                 
	                 
	                 
	                 	
		<layer label="Toner (maps.stamen.com)" type="webtiled" visible="false" 
	                 alpha="1.0" 
	                 url="http://{subDomain}.stamen.com/toner/{level}/{col}/{row}.png"
	                 subdomains="tile"/>   
		<layer label="Terrain (maps.stamen.com)" type="webtiled" visible="false" 
	                 alpha="1.0" 
					url="http://{subDomain}.stamen.com/terrain/{level}/{col}/{row}.png"
	                 subdomains="tile"/>   
		<layer label="Watercolor (maps.stamen.com)" type="webtiled" visible="false" 
	                 alpha="1.0" 
	                 url="http://{subDomain}.stamen.com/watercolor/{level}/{col}/{row}.png"
	                 subdomains="tile"/>   

	                 
		<layer label="Google Map" type="webtiled" visible="false" 
	                 alpha="1.0" 
	                 url="http://{subDomain}.google.com/vt/lyrs=m@216000000&hl=en&src=app&x={col}&y={row}&z={level}"
	                 subdomains="mt0,mt1"/>  
			 
		<layer label="Google Terrain" type="webtiled" visible="false" 
	                 alpha="1.0" 
	                 url="http://{subDomain}.google.com/vt/lyrs=t@216000000&hl=en&src=app&x={col}&y={row}&z={level}"
	                 subdomains="mt0,mt1"/>  
			 
			 
			 
	                 
			<layer label="Google Satellite" type="webtiled" visible="false" 
	                 alpha="1.0" 
	                 url="http://{subdomain}.google.ca/kh/v=130&src=app&x={col}&y={row}&z={level}"
	                 subdomains="khm1"/>   http://{subDomain}.google.com/vt/lyrs=h@216000000&hl=en&src=app&x={col}&y={row}&z={level} 
	                 
		<!--<layer label="Burning (maps.stamen.com)" type="webtiled" visible="false" 
	                 alpha="1.0" 
	                 url="http://{subDomain}.stamen.com/burning/{level}/{col}/{row}.png"
	                 subdomains="tile"/>-->  

	                 
<!--<layer label="NASA" type="webtiled" visible="false" useproxy="true"
	                 alpha="1.0" 
	                 url="http://{subDomain}.vis.earthdata.nasa.gov/wmts-geo/wmts.cgi?SERVICE=WMTS&REQUEST=GetTile&VERSION=1.0.0&LAYER=MODIS_Terra_CorrectedReflectance_TrueColor&STYLE=&TILEMATRIXSET=EPSG4326_250m&TILEMATRIX=${level}&TILEROW=${row}&TILECOL=${col}&FORMAT=image%2Fjpeg"
	                 subdomains="map1"/>   -->
	                 
	                 
		<layer label="Pirates" type="webtiled" visible="false" useproxy="false"
	                 alpha="1.0" 
	                 url="http://{subDomain}.tiles.mapbox.com/v3/aj.Sketchy2/{level}/{col}/{row}.png"
	                 subdomains="a,b,c,d"/>  
	                 
		<layer label="Mapbox Streets" type="webtiled" visible="false" useproxy="false"
	                 alpha="1.0" 
	                 url="http://{subDomain}.tiles.mapbox.com/v3/examples.map-vyofok3q/{level}/{col}/{row}.png"
	                 subdomains="a,b,c,d"/>  
	                 
	                 
		<!--<layer label="CanVec Version 7 (1:50000) Basemap" type="tiled" visible="false" alpha="1"
			url="http://emagisrr01/ArcGIS/rest/services/CanVec7/MapServer"/>-->
    	</basemaps>
        <operationallayers>

			<!--<layer type="wmts" useproxy="true" servicemode="KVP" tilematrixsetid="EPSG4326_250m" layerid="world" imageformat="jpg" style="_null"
                   url="http://map1.vis.earthdata.nasa.gov/wmts-geo/wmts.cgi"
                   visible="true"/>-->
                   
		<layer label="AccuWeather" type="webtiled" visible="false" useproxy="false" autorefresh="600"
	                 alpha="1.0" disableclientcaching="true" 
	                 url="http://maptiles.accuweather.com/accuweather/tiles/worldSat/6952f96d9/1155/{level}/{col}_{row}.png"
	                 subdomains=""/>  
                   
		<layer label="Open Weather Map Precipitation" type="webtiled" visible="false" useproxy="true" autorefresh="600"
	                 alpha="0.7" disableclientcaching="true" 
	                 url="http://undefined.tile.openweathermap.org/map/precipitation/{level}/{col}/{row}.png"
	                 subdomains=""/>  
	                 
		<layer label="Open Weather Map Pressure" type="webtiled" visible="false" useproxy="true" autorefresh="600"
	                 alpha="0.8" disableclientcaching="true" 
	                 url="http://undefined.tile.openweathermap.org/map/pressure_cntr/{level}/{col}/{row}.png"
	                 subdomains=""/>  
	                 
		<layer label="Open Weather Map Clouds" type="webtiled" visible="false" useproxy="true" autorefresh="600"
	                 alpha="0.7" disableclientcaching="true" 
	                 url="http://undefined.tile.openweathermap.org/map/clouds/{level}/{col}/{row}.png"
	                 subdomains=""/>  


		<layer label="NOAA Global Surface Wind Observations" type="dynamic" visible="true" alpha="1"
		                    url="http://publicsafetytemplates.esri.com/ArcGIS/rest/services/EMCOP/PublicSafetyFeedSample/MapServer"/>




		<layer label="Weather Underground Radar" type="webtiled" visible="true" useproxy="false" autorefresh="600"
	                 alpha="0.75" disableclientcaching="true" 
	                 url="http://radartiles-ak.wxug.com/tiles/{level}/{col}/{row}.png"
	                 subdomains=""/>  

<!--<layer label="Weather Underground Satellite" useproxy="true" type="wms" url="http://wublast.wunderground.com/cgi-bin/WUBLAST" version="1.1.1" visible="false" wkid="900913" />	 -->                
	                
	                 

	                 
                   
                   

			<!--<layer label="NRCAN Toporama" useproxy="true" type="wms" url="http://wms.ess-ws.nrcan.gc.ca/wms/toporama_en" version="1.1.1" visible="false" wkid="900913" />-->

			<layer label="NSPI Imagery" type="dynamic" visible="false" alpha="1"
		                    url="http://emagisrr01/ArcGIS/rest/services/NSPI_Imagery/MapServer"/>

			<layer label="HRM Web Map Service" type="dynamic" visible="false" alpha="1" useproxy="true"
                    url="http://maps.halifax.ca/ArcGIS/rest/services/HRM_WMS/MapServer"/>
            
            <layer label="HRM Crime" type="dynamic" visible="false" alpha="1" useproxy="true"
                    url="http://maps.halifax.ca/ArcGIS/rest/services/HRM_CrimeMap/MapServer"/> 
                    
			<layer label="Digby" type="dynamic" visible="false" alpha="1" useproxy="true"
                    url="http://www.avliu.ca/arcgiswebadaptor/rest/services/DIGBY/MapServer"/> 
                    
            <layer label="Annapolis District Planning Commission Aerial" type="dynamic" visible="false" alpha="1" useproxy="true"
                    url="http://www.avliu.ca/arcgiswebadaptor/rest/services/NEW_TILED_AERIAL/MapServer"/> 
                    
            <layer label="Annapolis District Planning Commission Vectors" type="dynamic" visible="false" alpha="1" useproxy="true"
                    url="http://www.avliu.ca/arcgiswebadaptor/rest/services/NEW_WORKING/MapServer"/> 
                    
   <layer label="CHS Bathymetric Grid" type="wms" visible="false" alpha="1"
       url="http://bluefin.mar.dfo-mpo.gc.ca/wmsconnector/com.esri.wsit.WMSServlet/bathy_atlantic"
       visiblelayers="bathy_atlantic"
       imageFormat="png"
       skipgetcapabilities="true"
       version="1.1.1"/>
       
          <layer label="Truro" type="wms" visible="false" alpha="1"
       url="http://gis11.nsgc.gov.ns.ca/cgi-bin/mapserv.exe?map=d:\ms441oci\maps\TRURO_WMS.map"
       imageFormat="png"
       skipgetcapabilities="true"
       version="1.1.0"/>


                    
			<layer label="Heritage Gas" type="dynamic" visible="false" alpha="1" useproxy="true"
                    url="http://24.222.95.222/ArcGIS/rest/services/HeritageGasProjected/MapServer"/>

			<!--<layer label="ConnectivityInspections" type="feature" visible="true" alpha="1"
			                url="http://emagisdev3:6080/arcgis/rest/services/ConnectivityInspections/FeatureServer/0">
			</layer>-->

			<layer label="Streetlights" type="feature" visible="false" alpha="1"
			                url="http://emagisfm01:6080/arcgis/rest/services/TestStreetlightEdit/FeatureServer/0">
			</layer>


        <layer label="Google Streetview Coverage" type="webtiled" visible="false" 
	                 alpha="1.0" 
	                 url="http://{subDomain}.google.com/mapslt?lyrs=lmc:photos_outside_streetview_145,svv&x={col}&y={row}&z={level}&w=256&h=256&gl=ca&hl=en&style=40"
	                 subdomains="mt2,mt1,mt3,mt0"/>
        
			<layer label="NSPI Depots / One Line Boundaries" type="dynamic" visible="false"
					url="http://emagisrr01/ArcGIS/rest/services/NSPIBasePolygons/MapServer">
				<sublayer id="1" popupconfig="popups/PopUp_OneLineBoundary.xml" />
			</layer>
			<layer label="NSPI Base Map - Service Nova Scotia" type="dynamic" visible="false" alpha="1"
		                    url="http://emagisrr01/ArcGIS/rest/services/NSPIBasemap/MapServer"/>
		
			<layer label="NSPI Transmission" type="dynamic" visible="true" alpha="1"
		                    url="http://emagisrr01/ArcGIS/rest/services/Transmission_OneGIS/MapServer" />
			
			<layer label="NSPI Electric Distribution" type="dynamic" visible="false" alpha="1"
			                url="http://emagisrr01/ArcGIS/rest/services/NSPI_ElectricDistribution/MapServer">
				    <sublayer id="21" popupconfig="popups/PopUp_ElectricStation.xml" />
			</layer>

			<layer label="NSPI Electric Distribution" type="dynamic" visible="true" alpha="1"
			                url="http://emagisfm01/arcgis/rest/services/NSPI_ElectricDistribution/MapServer">
			</layer>

			<layer label="SS Edit Test" type="dynamic" visible="true" alpha="1"
			                url="http://emagisfm01/arcgis/rest/services/ConnectivityInspectionsEditTest/FeatureServer/0">
			</layer>


				
			<layer label="Storm Response" type="dynamic" visible="false" alpha="0.75" imageformat="png24"
			                url="http://emagisrr01/ArcGIS/rest/services/StormResponse/MapServer">
				    <sublayer id="3" popupconfig="popups/PopUp_ScotiaWeatherRegions.xml" />
			</layer>
			
			<layer label="Unique Layers" type="dynamic" visible="false" alpha="1" imageformat="png24"
			                url="http://emagisrr01/ArcGIS/rest/services/UniqueLayers/MapServer">
				<sublayer id="0" popupconfig="popups/PopUp_ConnectivityInspection.xml" />
				<sublayer id="3" popupconfig="popups/PopUp_Traffic_Cameras.xml" />
			</layer>
			

			                
			<layer label="Weather - US Doppler Radar" type="dynamic" visible="false" alpha="0.4"
			                url="http://gis.srh.noaa.gov/ArcGIS/rest/services/RIDGERadar/MapServer" autorefresh="600" disableclientcaching="true" />
				    
			<layer label="Weather - Environment Canada Eastern Doppler Radar" type="dynamic" visible="false" alpha="0.4"
			                url="http://apps.esri.ca/ArcGIS/rest/services/EnvironmentCanada/WeatherRADAR/MapServer" autorefresh="600" disableclientcaching="true" />
			                
			<layer label="NSPI Locations" type="dynamic" visible="false" alpha="1" imageformat="png24"
		                    url="http://emagisrr01/ArcGIS/rest/services/NSPI_Locations10_0/MapServer">
				    <sublayer id="0" popupconfig="popups/PopUp_Location.xml" />
				    <sublayer id="1" popupconfig="popups/PopUp_Location.xml" />
				    <sublayer id="2" popupconfig="popups/PopUp_Location.xml" />
				    <sublayer id="3" popupconfig="popups/PopUp_Location.xml" />
			</layer>
        	<layer label="Truck Tracking" type="dynamic" visible="false" alpha="1" autorefresh="120" imageformat="png24"
                url="http://emagisrr01/ArcGIS/rest/services/KerrGlobalCurrentTrucksProd/MapServer">
				<sublayer id="0" popupconfig="popups/PopUp_KerrGlobal.xml" />
				<sublayer id="1" popupconfig="popups/PopUp_KerrGlobal.xml" />
			</layer>
			
            <layer label="OMS Views" type="dynamic" visible="false" alpha="1"
                    url="http://emagisrr01/arcgis/rest/services/OutagesAndAbnormalProd_Opt/MapServer" autorefresh="120" imageformat="png24">
	      <sublayer id="0" popupconfig="popups/PopUp_Outages.xml" />
	      <sublayer id="1" popupconfig="popups/PopUp_AbnormalList.xml" />
            </layer>
            
        </operationallayers>
    </map>

    <!-- widgets organized into widget containers that manage close/open etc -->
    <!-- supported layout property options: horizontal(default)|float|vertical|fix-->
    <widgetcontainer layout="float">
        
        

    
        <widget label="Bookmarks"         left="430" top="90"
                icon="assets/images/i_bookmark.png"
                config="widgets/Bookmark/BookmarkWidget.xml"
                url="widgets/Bookmark/BookmarkWidget.swf"/>
                
        <widget label="Draw" left="60" top="400"
                icon="assets/images/i_draw2.png"
                config="widgets/Draw/DrawWidget.xml"
                url="widgets/Draw/DrawWidget.swf"/>     
                
		<widget label="Print" left="390" top="400"
                icon="assets/images/i_print.png"
                config="widgets/Print/PrintWidget.xml"
                url="widgets/Print/PrintWidget.swf"/>
                
                                           
		<widget label="Snapshot" left="100" top="80"
                icon="assets/images/i_camera.png"
                config="widgets/Snapshot/SnapshotWidget.xml"
                url="widgets/Snapshot/SnapshotWidget.swf"/>  
                  
		<widget label="Identify" left="330" top="80"
                icon="assets/images/i_info.png"
                config="widgets/Identify/IdentifyWidget.xml"
                url="widgets/Identify/IdentifyWidget.swf"/>
                
        <widget label="Edit" left="330" top="80"
                icon="assets/images/i_edit.png"
                config="widgets/Edit/EditWidget.xml"
                url="widgets/Edit/EditWidget.swf"/>
                
		<widget label="Google Street View" left="60" top="400"
				icon="assets/images/i_Streetview.png"
			    config="widgets/StreetView/StreetViewWidget.xml"
			    url="widgets/StreetView/StreetViewWidget.swf"/>  
			                    
		<widget label="Drive Directions"
	    		icon="assets/images/transCanada.png" 
				config="widgets/Route/RouteWidget.xml"
				url="widgets/Route/RouteWidget.swf"/>
			
		<widget label="NS Traffic Camera"
                icon="assets/images/blueWhiteCamera.png"
                config="widgets/Query/QueryWidget_TrafficCameras.xml"
                url="widgets/Query/QueryWidget.swf"/>

        <widget label="Search" left="80" top="280"  preload="open"
                icon="assets/images/i_search.png"
                config="widgets/Search/SearchWidget_NSPI.xml"
                url="widgets/Search/ModifiedSearchWidget.swf"
                closeifnoparameter="true" />

		<widget left="390" top="400"
				config="widgets/HeatMap/HeatMapWidget.xml"
				icon="widgets/HeatMap/assets/images/i_heatmap_icon.png"
				label="HeatMap"
				url="widgets/HeatMap/HeatMapWidget.swf"/>
        

		<widget label="Outage Summary"
	            icon="assets/images/tableIcon.png"
	            config="widgets/OutageReport/OutageReport.xml"
	            url="widgets/OutageReport/OutageReport.swf"
	            preload="open"
	            bottom="20"
			    right="20"
			    />
		    
		<widget label="Map Coordinates"
	            config="widgets/CoordinateMenu/CoordinateMenuWidget.xml"
	            icon="widgets/CoordinateMenu/images/coordinateIcon.png"
	            left="100" top="80"
	            url="widgets/CoordinateMenu/CoordinateMenuWidget_GUI.swf"/>
            
        <widget label="Basemap Style"
                icon="assets/images/paintbucket.png"
                url="widgets/BaseMapStyle/BaseMapStyleWidget.swf"/>

<!--     
		<widget label="Fish Migration" preload="open"
                icon="assets/images/i_clock.png"
                config="widgets/eTime/eTimeWidget_FishMigration.xml"
                url="widgets/eTime/eTimeWidget.swf"/>-->
                
        <widget label="GIS Blog"
                icon="assets/images/i_rss.png"
                config="widgets/Hyperlink/HyperlinkWidget_GISBlog.xml"
                url="widgets/Hyperlink/HyperlinkWidget.swf"/>
           
		<widget label="Chart Test"
                icon="assets/images/i_piechart.png"
                config="widgets/Chart/ChartWidget.xml"
                url="widgets/Chart/ChartWidget.swf"/>
		
                
		
			    
            
                

    </widgetcontainer>
    
</configuration>